<app-home></app-home>
<div class="container">
<h2><B>Welcome to Event Management App !!!</B></h2>
<div class="row">
  <div class="col-md-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxc5mP8G6kiodplS8VFwYAdhJTZM8eUePmTv60T_lot2ajylUghHhF-Vc60YDua9MRGWI&usqp=CAU">
  </div>
  <div class="col-md-6">
    <h3><u><b>About</b></u></h3>
    <p>In this section of Event Management App, the administration team of the organization can view and add their resources such as employees and keep their data saved for future references.</p>
  </div>
</div>
</div>