<div class="image">
  
  <div class="container">
    <button class="btn btn-outline-danger mt-5" (click)="onFetchUsers()">
      View All
    </button>
    <div class="row m-3">
      <div class="col">
        <p *ngIf="fetchedUsers.length < 1">No Users Available !!</p>
        <ul class="list-group" *ngIf="fetchedUsers.length >= 1">
          <li class="list-group-item" *ngFor="let user of fetchedUsers">
            <p><b>Aadhar id:</b>&nbsp;{{ user.peopleId }}</p>
            <p><b>Name&nbsp;:</b>&nbsp;{{ user.name }}</p>
            <p><b>Date Of Birth:</b>&nbsp;{{ user.dob }}</p>
            <p><b>Email:</b>&nbsp;{{ user.emailid }}</p>

            <p><b>Address:</b>&nbsp;{{ user.address }}</p>
            <p><b>Mobile No:</b>&nbsp;{{ user.mobileno }}</p>

            <p><b>Gender:</b>&nbsp;{{ user.gender }}</p>

            <button
              class="btn btn-sm btn-danger"
              (click)="onDeleteUser(user.peopleId)"
            >
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
