.image{
    height:39em; background-size:cover; width:auto;
    background-image:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fzeenews.india.com%2Fhindi%2Fbusiness%2Fupdate-your-aadhaar-card-detail-at-home-with-just-an-otp-here-is-the-process%2F831056&psig=AOvVaw1mGsdjmYRnjlTM3o5a5jux&ust=1666260903458000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCLCL-duH7PoCFQAAAAAdAAAAABAn');
    background-position:50% 50%;
  }
