.image{
    height:39em; background-size:cover; width:auto;
    background-image:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.digitalindiagov.in%2Faadhar-card%2F&psig=AOvVaw1mGsdjmYRnjlTM3o5a5jux&ust=1666260903458000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCLCL-duH7PoCFQAAAAAdAAAAABAs');
    background-position:50% 50%;
  }

