<div class="image">
  
   
  <br />
  <h3 style="color: rgba(6, 13, 138, 0.84)" class="text-center">
    REGISTRATION PAGE
  </h3>
  <div class="container mt-3 d-flex justify-content-center">
    <form #f="ngForm" class="w-50 p-4" style="color: rgb(107, 120, 5)">
      <div class="row mb-2">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            required
            ngModel
            #name="ngModel"
          />
        </div>
      </div>
      <div class="row mb-2">
        <div class="form-group">
          <label for="dob">Date Of Birth</label>
          <input
            type="text"
            id="dob"
            class="form-control"
            name="dob"
            ngModel
            required
            dob
            #dob="ngModel"
          />
          <span
            id="err-dob"
            style="color: red"
            class="small"
            *ngIf="!dob.valid && dob.touched"
            >Please enter a valid dob</span
          >
        </div>
      </div>
      <div class="row mb-2">
        <div class="form-group">
          <label for="emailid">Email</label>
          <input
            type="text"
            id="emailid"
            class="form-control"
            name="emailid"
            ngModel
            required
            emailid
            #emailid="ngModel"
          />
          <span
            id="err-email"
            style="color: red"
            class="small"
            *ngIf="!emailid.valid && emailid.touched"
            >Please enter a valid email</span
          >
        </div>
      </div>
      <div class="row mb-2">
        <div class="form-group">
          <label for="address">Address</label>
          <textarea
            type="text"
            id="address"
            class="form-control"
            name="address"
            ngModel
            required
            address
            #address="ngModel"
          ></textarea>
          <span
            id="err-address"
            style="color: red"
            class="small"
            *ngIf="!address.valid && address.touched"
            >Please enter a valid address</span
          >
        </div>
      </div>
      <div class="row mb-2">
        <div class="form-group">
          <label for="Phoneno">Mobile No:</label>
          <input
            type="text"
            id="mobileno"
            class="form-control"
            name="mobileno"
            ngModel
            required
            mobileno
            #mobileno="ngModel"
          />
          <span
            id="err-mobile"
            style="color: red"
            class="small"
            *ngIf="!mobileno.valid && mobileno.touched"
            >Please enter a valid Mobile Number</span
          >
        </div>
      </div>
      <div class="row mb-2">
        <div class="form-group">
          <label for="gender">Gender</label>
          <input
            type="text"
            id="gender"
            class="form-control"
            name="gender"
            ngModel
            required
            gender
            #gender="ngModel"
          />
          <span
            id="err-gender"
            style="color: red"
            class="small"
            *ngIf="!gender.valid && gender.touched"
            >Please enter a valid Gender</span
          >
        </div>
      </div>

      <button
        class="btn btn-outline-danger m-2"
        [disabled]="!f.valid"
        (click)="onAddPeople(f.value, f)"
        id="register"
      >
        Register
      </button>
    </form>
  </div>
</div>


    
      

