table{   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newemp{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#emp{
    height: 100px;
    width: 800px;
}
