
<div class="image">
  <br />
  <br />
  <div class="container d-flex justify-content-center">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="w-50 p-4"
      style="color: rgb(3, 11, 51)"
    >
      <h4 class="text-center">Admin Login</h4>

      <div class="row">
        <div class="form-group">
          <label for="username">Admin name</label>
          <input
            type="text"
            id="admin"
            class="form-control"
            formControlName="admin"
          />
          <span
            style="color: red"
            class="small"
            *ngIf="
              !loginForm.get('admin').valid && loginForm.get('admin').touched
            "
            >Please enter a valid admin name</span
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
          />
          <span
            style="color: red"
            class="small"
            *ngIf="
              !loginForm.get('password').valid &&
              loginForm.get('password').touched
            "
            >Please enter a valid password</span
          >
          <br />
          <span
            style="color: red"
            class="small"
            *ngIf="loginForm.get('password').hasError('passwordStrength')"
          >
            {{ loginForm.get("password").errors["passwordStrength"] }}
          </span>
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-outline-danger">Login</button>
    </form>
  </div>
</div>


